body{
    background-image: url("assets/dots.PNG");
    margin: 0px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.opciones{
    justify-content: space-between;
    display: inline-block;
    padding: 60px;  
}

a{
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px;
    background-color: white;
    height: 50px;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 6px 4px gray;
    font-size: 35px;
}
a{
    transition: all .2s ease-in-out;
}
a:hover{
    transform: scale(1.2);
}
.sp1{
    padding: 10px;
}



