body{
    background-color: white;
    background-image: url("assets/dots.PNG");
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    border: 5px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 4px 6px 4px gray;
    font-size: 25px;
}
.separador{
	height:50px;
}
.logo{
    width: 250px;
}
.contenidoCgi{
	display:flex;	
	width:auto;
	height:auto;
	border-width: 4px;
    background-color: white;
    border-color: black;
    border-style: solid;
    margin: 0px 250px 0px 250px;
	
}
.textoCgi{
	display:block;
	margin: 15px 150px 15px 150px;
    text-align: justify;
    font-size: 20px;
}
ol, ul{
    margin: 0 0 1.5em 1.5em;
    padding-inline-start: 40px
}

