body{
    background-color: white;
    background-image: url("assets/dots.PNG");
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    border: 5px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 4px 6px 4px gray;
    font-size: 25px;
}
.logo{
    width: 250px;
}