body{
    display: flex;
    background-image: url("/assets/dots.PNG");
    margin: 0px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    height: 100vh;
    box-shadow: inset 0px 0px 6px 4px gray;
}
